<section id="about" class="container-fluid content">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-12 col-md-12">
            <p>Hello!</p>
            <p>I'm Rob O'Leary, an independent Designer from Ireland.</p>
            <p>I have diverse, multidisciplinary experience in application and infrastructure development. See my <a href="/cv">CV (Résumé)</a> for more on that!</p>
            <p>I have an unrelenting passion for technology, <a href="/travel">travel</a>, and life in general! I pour this enthusiasm into every far-fetched cause that I put action to! :-)</p>
          </p>
        </div>
    </div>
</section>
