<section id="about" class="container-fluid content">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-12 col-md-12">
            <p>Hello! 😀👋</p>
            <p>I'm Rob O'Leary.</p>
            <p>I am an Analyst Programmer. I have diverse, multidisciplinary experience in application development.</p>
            <p>I have an unrelenting passion for technology and life! I pour this enthusiasm into every far-fetched
              cause that I put action to!</p>
            <p>I love to travel. It is the only bug I have never been able to fix!🐛😂</p>
          </p>
          <p>Thank you for visiting!</p>
        </div>
    </div>
</section>
