<section id="about" class="container-fluid content">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-12 col-md-12">
            <p>Hello!</p>
            <p>I'm Rob O'Leary, an independent Analyst Programmer from Ireland.</p>
            <p>I have diverse, multidisciplinary experience in application and infrastructure development. I have worked in challenging, international environments across various industries.</p>
            <p>I have an unrelenting passion for technology and life. I pour this enthusiasm into every far-fetched cause that I put action to! :-)</p>
            <p>I like adventures and wonder, let's make some together!</p>
          </p>
        </div>
    </div>
</section>
