<footer class="container-fluid container-contact" id="contact">
    <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h1>Contact me</h1>
          </div>
          <div class="col-md-6 col-sm-12 container-contacts-phone">
              <a href="mailto:{{ site.email }}">
                  {{ site.email }}
              </a>
          </div>
          <div class="col-md-6 col-sm-12 container-contacts-phone">
              <a href="tel:{{ site.phone }}">
                  {{ site.phone }}
              </a>
          </div>
      </div>
    </div>
</footer>
