<footer class="container" id="contact">
      <div class="row">
        <div class="col-md-3 col-sm-12">
            <a href="tel:{{ site.phone }}">
                {{ site.phone }}
            </a>
        </div>
          <div class="col-md-3 col-sm-12">
              <a href="mailto:{{ site.email }}">
                  {{ site.email }}
              </a>
          </div>
          <div class="col-md-3 col-sm-12">
              <a href="{{ site.github }}">
                  Github
              </a>
          </div>
          <div class="col-md-3 col-sm-12">
              <a href="{{ site.codepen }}">
                  Codepen
              </a>
          </div>
      </div>
</footer>
