<footer class="container-fluid content" id="contact">
      <div class="row">
          <div class="col-md-3 col-sm-12 footer-item">
              <a href="mailto:{{ site.email }}">
                  <i class="far fa-envelope"></i>
                  {{ site.email }}
              </a>
          </div>
          <div class="col-md-3 col-sm-12 footer-item">
              <a href="{{ site.github }}">
                  <i class="fab fa-github"></i>
                  Github
              </a>
          </div>
          <div class="col-md-3 col-sm-12 footer-item">
              <a href="{{ site.codepen }}">
                <i class="fab fa-codepen"></i>
                  Codepen
              </a>
          </div>
          <div class="col-md-3 col-sm-12 footer-item">
              <a href="{{ site.linkedin }}">
                <i class="fab fa-linkedin"></i>
                  LinkedIn
              </a>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12 col-sm-12 copyright">
            {{ site.copyright }}
          </div>
      </div>
</footer>
