<footer class="container-fluid content" id="contact">
  <div class="row">
    <div class="col-md-12">
      <h1>Contact Me</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>If you are interested in collaborating or connecting, do not be shy. 🙂
        You can send a message to robjoeol@gmail.com. You can find me on the
        networks below.
      <ul>
        <li>
          <a href="{{ site.github }}" title="Follow Rob on Github">
            <i class="fab fa-github "></i>
          </a>
        </li>
        <li>
          <a href="{{ site.codepen }}" title="Follow Rob on Codepen">
            <i class="fab fa-codepen"></i>
          </a>
        </li>
        <li>
          <a href="{{ site.linkedin }}" title="Follow Rob on Linkedin">
            <i class="fab fa-linkedin "></i>
          </a>
        </li>
      </ul>
      </p>
    </div>
  </div>
</footer>