<nav class="navbar navbar-fixed-top">
  <div class="navbar-brand hidden-xs-down"><a class="home-navbar-logo" href="/">{{ site.brand }}</a></div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div id="navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item"><a id="contact-navlink" class="nav-link" href="javascript:void(0)">
          Contact</a></li>
      <li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
    </ul>
  </div>
</nav>