<section class="container-fluid content" id="portfolio">
  <div class="row">
    <div class="col-md-12">
      <h1>Portfolio</h1>
    </div>
  </div>
  <div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6">
    <article class="portfolio-item">
      <figure>
        <a href="/frequency-punchcard">
        <img style="background-image:url(/assets/img/frequency-punchcard.svg)" src="/assets/img/tree-400x400.png" class="portfolio-img" alt="frequency punchcard">
        <div class="portfolio-item-arrow">
          <span class="fa fa-arrow-circle-right"></span>
        </div>
        <figcaption>Frequency Punchcard</figcaption>
        </a>
      </figure>
      <h5>Data Visualisation | D3.js</h5>
    </article>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6">
    <article class="portfolio-item">
      <figure>
        <a href="/berlin-boxing-bear">
        <img style="background-image:url(assets/img/berlin-boxing-bear.gif)" src="/assets/img/tree-400x400.png" class="portfolio-img" alt="berlin boxing bear animation">
        <div class="portfolio-item-arrow">
          <span class="fa fa-arrow-circle-right"></span>
        </div>
        <figcaption>Berlin Boxing Bear</figcaption>
        </a>
      </figure>
      <h5>Animation | Greensock.js</h5>
    </article>
  </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6">
      <article class="portfolio-item">
        <a href="/java-training">
        <figure>
          <img style="background-image:url(/assets/img/java-training.svg)" src="/assets/img/tree-400x400.png" class="portfolio-img" alt="java file">
          <div class="portfolio-item-arrow">
            <span class="fa fa-arrow-circle-right"></span>
          </div>
          <figcaption>Java Training</figcaption>
          </a>
        </figure>
        <h5>Training | Java</h5>
      </article>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
      <article class="portfolio-item">
        <a href="/map-selector">
        <figure>
          <img style="background-image:url(/assets/img/map-selector.svg)" src="/assets/img/tree-400x400.png" class="portfolio-img" alt="map selector">
          <div class="portfolio-item-arrow">
            <span class="fa fa-arrow-circle-right"></span>
          </div>
          <figcaption>Map Selector</figcaption>
          </a>
        </figure>
        <h5>Data Visualisation | D3.js</h5>
      </article>
    </div>
  </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <article class="portfolio-item">
          <figure>
            <a href="/berlin-mural-map">
            <img src="assets/img/berlin-mural-map-400x400.png" class="tree-clip portfolio-img" alt="berlin mural map">
            <div class="portfolio-item-arrow">
              <span class="fa fa-arrow-circle-right"></span>
            </div>
            <figcaption>Berlin Mural Map</figcaption>
            </a>
          </figure>
          <h5>Web Application | MongoDB, Express, NodeJS</h5>
        </article>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <article class="portfolio-item">
          <figure>
            <a href="/metro-app">
            <img src="assets/img/metro-app-cover.svg" class="tree-clip portfolio-img" alt="metro app">
            <div class="portfolio-item-arrow">
              <span class="fa fa-arrow-circle-right"></span>
            </div>
            <figcaption>Metro App</figcaption>
            </a>
          </figure>
          <h5>UX Design</h5>
        </article>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <article class="portfolio-item">
          <figure>
            <a href="/invoicing-framing-business">
              <img style="background-image:url(/assets/img/invoicing-cover.svg)" src="/assets/img/tree-400x400.png" class="portfolio-img" alt="frame experts studio"/>
            <div class="portfolio-item-arrow">
              <span class="fa fa-arrow-circle-right"></span>
            </div>
            <figcaption>Invoicing for a Framing Business</figcaption>
            </a>
          </figure>
          <h5>Excel Application | VBA</h5>
        </article>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
      </div>
    </div>
</section>
