<section class="container-fluid content" id="portfolio">
  <div class="row">
    <div class="col-md-12">
      <h1>Portfolio</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6">
      <article class="portfolio-item">
        <a href="/berlin-mural-map.html">
          <figure>

            <img src="assets/img/berlin-mural-map-300x300.png" class="img-circle portfolio-img" alt="berlin mural map">
            <div class="portfolio-item-arrow">
              <span class="fa fa-arrow-circle-right"></span>
            </div>
            <figcaption>Berlin Mural Map</figcaption>

          </figure>
            </a>
        <h5>MongoDB Express NodeJS</h5>
      </article>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
      <article class="portfolio-item">
        <a href="/berlin-mural-map.html">
          <figure>
            <img src="assets/img/berlin-mural-map-300x300.png" class="img-circle portfolio-img" alt="berlin mural map">
            <div class="portfolio-item-arrow">
              <span class="fa fa-arrow-circle-right"></span>
            </div>
          </figure>
          <h4>Data Visualisation</h4>
        </a>
        <h5>D3.js Express</h5>
      </article>
    </div>
    </div>
</section>
