<section class="container-fluid content" id="portfolio">
  <div class="row">
    <div class="col-md-12">
      <h1>Portfolio</h1>
    </div>
  </div>
  <div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6">
    <article class="portfolio-item">
      <a href="/frequency-punchcard">
      <figure>
        <img src="assets/img/frequency-punchcard.svg" class="img-circle portfolio-img" alt="frequency punchcard">
        <div class="portfolio-item-arrow">
          <span class="fa fa-arrow-circle-right"></span>
        </div>
        <figcaption>Frequency Punchcard</figcaption>
      </figure>
      </a>
      <h5>Data Visualisation | D3.js</h5>
    </article>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6">
    <article class="portfolio-item">
      <a href="/berlin-boxing-bear">
      <figure>
        <img src="assets/img/berlin-boxing-bear.gif" class="img-circle portfolio-img" alt="berlin mural map">
        <div class="portfolio-item-arrow">
          <span class="fa fa-arrow-circle-right"></span>
        </div>
        <figcaption>Berlin Boxing Bear</figcaption>
      </figure>
      </a>
      <h5>Animation | Greensock.js</h5>
    </article>
  </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6">
      <article class="portfolio-item">
        <a href="/berlin-mural-map">
        <figure>
          <img src="assets/img/berlin-mural-map-400x400.png" class="img-circle portfolio-img" alt="berlin mural map">
          <div class="portfolio-item-arrow">
            <span class="fa fa-arrow-circle-right"></span>
          </div>
          <figcaption>Berlin Mural Map</figcaption>
        </figure>
        </a>
        <h5>Web Application | MongoDB, Express, NodeJS</h5>
      </article>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
      <article class="portfolio-item">
        <a href="/map-selector">
        <figure>
          <img src="/assets/img/map-selector.svg" class="img-circle portfolio-img" alt="map selector">
          <div class="portfolio-item-arrow">
            <span class="fa fa-arrow-circle-right"></span>
          </div>
          <figcaption>Map Selector</figcaption>
        </figure>
        </a>
        <h5>Data Visualisation | D3.js</h5>
      </article>
    </div>
  </div>
</section>
