<header class="container-fluid top-container content" id="top">
  <div class="row">
      <col-md-12>
          <img style="background-image:url(/assets/img/top/portrait200x200.jpg)"
           src="/assets/img/top/blank.svg" id="portrait"
           class="top-image img-circle">
          <h1 class="top-name">{{ site.brand }}</h1>
      <col-md-12>
  </div>
    <div class="row">
      <col-md-12>
      <ul class="adjective-list top-headline">
        <li>Designer</li>,
        <li>Explorer</li>,
        <li>Humanist</li>
      </ul>
      <img style="visibility:hidden;width:0px;height:0px" src="/assets/img/top/Designer.svg"/>
      <img style="visibility:hidden;width:0px;height:0px" src="/assets/img/top/Humanist.svg"/>
      <img style="visibility:hidden;width:0px;height:0px" src="/assets/img/top/Explorer.svg"/>
      </col-md-12>
</div>
</header>
