body {
  position: relative;
  font-family: Quicksand, Arial, sans-serif;
  line-height: 1.6;
  font-size: calc(14px + .5vw);
  font-weight: 300;
}

p {
  margin: 1.75em 0 2em;
}

h1, h2, h3, h4, h5, h6, .container-top-name {
  color: #0e3054;
}

.container {
  position: relative;
  top: 0;
  width: 100%;
  margin: 0 0;
  padding: 1em 0;
}

.home-container .container {
  position: relative;
  top: 0;
  width: 100%;
  margin: 0 0;
  padding:1em 0;
  min-height: 50em;
}

.row, .content {
  float: none;
  width: 100%;
  padding: 1em 6em 0em;
}

*[id]:before {
  display: block;
  content: " ";
  margin-top: -85px;
  height: 85px;
  visibility: hidden;
}

.navbar, .navbar-inverse {
  border-radius: 0;
  border: none;
  margin-bottom: 0;
  min-height: 3em;
  padding-right: 1em;
  background-color: #79AFE8;
}

.navbar-inverse .navbar-nav>li>a {
  color: #ffffff;
  float:right!important;
  font-size: 1em;
}

@media (max-width: 1040px) {
  .navbar-inverse .navbar-nav>li>a {
    float:left!important;
  }
}

@media (max-width: 544px) {
  .navbar-inverse .navbar-nav>li>a {
    float:left!important;
    font-size: 0.75em;
  }
}

.navbar-inverse .navbar-nav li a:hover, .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #ffffff;
  color: #79AFE8;
  transition: 0.1s all linear;
  height: 100%;
}

.navbar-toggle.collapsed .icon-bar:hover, .navbar-toggle.collapsed .icon-bar:focus {
    color: #79AFE8;
}

a.home-navbar-logo, a.navbar-logo{
  font-family: 'Lobster', cursive;
  color: #ffffff;
  font-size: 1.5em;
  cursor: pointer;
  transition: opacity .5s;
}

a.home-navbar-logo:hover, a.home-navbar-logo:focus, a.navbar-logo:hover, a.navbar-logo:focus{
  text-decoration: none;
}

.hide{
    visibility: hidden;
}

#top {
  display: block;
  padding-top: 10rem;
  background-color: #79AFE8;
  text-align: center;
  position: relative;
  font-family: 'Lobster', cursive;
}

.top-image {
  width: 220px;
  height: 220px;
  transition: all .3s
}

.top-image:hover {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1)
}

.top-headline {
  color: #ffffff;
}

#about {
  background: url("/assets/img/mountain_river.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fac41d;
  background-size: 70% 100%;
  color: black;
}

#about h1 {
  color:white;
}

#portfolio {
  background: url("/assets/img/river_forest.svg");
  background-repeat: no-repeat;
  background-color: green;
  background-size: 70% 100%;
  background-position: center;
  color:white;
}

#portfolio , #portfolio h1{
  color:white;
}

#contact {
  min-height: 12em;
  padding: 1.5em 0;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 0.75em;
}

#contact a {
  color: white;
}

.post-tag {
  display: inline-block;
  background: rgba(106, 159, 181, 0.15);
  padding: 0 .5rem;
  margin-right: .5rem;
  border-radius: 4px;
  color: #6a9fb5;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 90%;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
