body {
  font-family: "Quicksand, Arial, sans-serif";
  line-height: 1.6;
  font-size: calc(14px + .5vw);
  font-weight: 300;
}

#robot{
  width:100px;
  height: 100px;
}

.row {
    position: relative;
    min-height: 40em;
    padding: 10em 0;
    top: 0;
}

footer div.row {
    height: 6em;
    min-height: 6em;
    padding: 1.5em 0;
    text-align: center;
    color: #999;
}

path {
  fill: white;
  stroke: black;
  stroke-width: 2;
  stroke-linejoin: round;
}

path:hover {
  fill: aliceblue;
  stroke: lightskyblue;
}

.navbar, .navbar-inverse {
  border-radius: 0;
  border: none;
  margin-bottom: 0;
  min-height: 80px;
  background-color: #79AFE8;
}

.navbar-inverse .navbar-nav>li>a {
  color: #ffffff;
  font-size: 1.5em;
}

.navbar-inverse .navbar-nav li a:hover {
  background-color: #ffffff;
  color: #79AFE8;
  transition: 0.1s all linear;
  height: 100%;
}

.container-top {
  display: block;
  padding-top: 10rem;
  background-color: #79AFE8;
  text-align: center;
  position: relative;
}

.container-top-image {
  width: 220px;
  height: 220px;
  transition: all .3s
}

.container-top-image:hover {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1)
}

.container-top-name, .container-top-headline {
  font-family: 'Lobster', cursive;
}

h1, h2, h3, h4, h5, h6, .container-top-name {
  color: #0e3054;
}

.container-top-headline {
  color: #ffffff;
}

/*.container-portfolio {
  background-color: #79AFE8;
  margin-top: 1rem;
  min-height: 15rem;
}*/
