@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap");

.navbar {
  display: none;
}

#contact {
  display: none;
}

.smooth {
  scroll-behavior: smooth;
}

svg {
  display: block;
  width: 100%;
  margin: 0 auto;
}

#bg,
.outline,
.bubble,
#marv {
  fill: white;
}

#blam3,
#victim {
  fill: black;
}

#grave {
  fill: black;
  stroke: black;
  stroke-width: 2;
}

.outline,
.box1,
.box2,
.box3,
.box4,
.text1,
.text2,
.bigText2,
.text3,
.bigText3,
.text4,
#brains {
  opacity: 0;
}

text {
  font-family: "Comic Sans MS", "Comic Sans", "Patrick Hand SC", cursive;
  font-size: 12px;
  font-weight: bold;
}

.bigText1,
.bigText2,
.bigText3 {
  font-size: 53px;
  line-height: 1.5;
}
